<!doctype html>
<html>
  <head>
    <title>Handlebars demo</title>
  </head>
  <link href="../dist/style.css" rel="stylesheet">
  <body>
    {{{body}}}
    <script src="../dist/main.js"></script>
  </body>
</html>
