<h1>Login</h1>
<form action="/login" method="POST">
  <div class="container">
    <label><b>Username</b></label>
    <input class="username" type="text" placeholder="Enter Username" name="uname" required>
    <br>
    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <br/>
    <input type="checkbox" checked="checked"> Remember me
    <button type="submit">Login</button>
  </div>
</form>
